<template>
    <div>
        <h1 class="text-xs-center">My Year {{ getCurrentYear() }} in Pixels</h1>
        <p class="text-xs-center">
            <span class="action" @click="showLegendDialog = true">help</span> |
            <a href="https://www.paypal.me/nickHatBoecker" class="action" target="_blank" rel="noopener">donation</a> |
            <a href="https://nick-hat-boecker.de/impressum/" class="action" target="_blank" rel="noopener">imprint</a> |
            <a href="https://nick-hat-boecker.de/datenschutzerklaerung/" class="action" target="_blank" rel="noopener">data privacy</a>
            <br>
            <v-btn
                small
                color="primary"
                @click="showImportExportDialog = true"
                style="margin-top: 12px;"
            >
                Import/Export
            </v-btn>
        </p>

        <!-- @TODO december popup: reminder to screenshot/export -->

        <table class="c-table-view">
            <tr>
                <th></th>
                <th class="text-truncate" v-for="i in pixels[getCurrentYear()]" v-bind:key="i.monthName">{{ i.monthName }}</th>
            </tr>
            <tr v-for="j in (1, maxDaysPerMonth)" v-bind:key="`row-${j}`">
                <th>{{ j }}</th>
                <td v-for="(k, index) in pixels[getCurrentYear()]" v-bind:key="`day-${k.monthName}-${k.days[j]}`">
                    <span :data-value="k.days[j]" :data-day="j" :data-month="index" :class="`c-table-view__grade c-grade--${k.days[j]}`" @click="changeColor"></span>
                </td>
            </tr>
        </table>

        <LegendDialog :showDialog="showLegendDialog" @close="showLegendDialog = false" />
        <ImportExportDialog
            :showDialog="showImportExportDialog"
            :exportCode="getExportCode()"
            @close="showImportExportDialog = false"
            @import="importPixels"
        />
    </div>
</template>

<script>
import LegendDialog from '../components/Dialogs/LegendDialog'
import ImportExportDialog from '../components/Dialogs/ImportExportDialog'

const LOCAL_STORAGE_PREFIX = 'nhb.year_in_pixels'
const LOCAL_STORAGE_PIXELS = `${LOCAL_STORAGE_PREFIX}.pixels`

export default {
    name: 'tableView',
    data () {
        return {
            maxDaysPerMonth: 31,
            defaultColor: 0,
            showLegendDialog: false,
            showImportExportDialog: false,
            pixels: [],
        }
    },
    mounted: function () {
        if (localStorage.getItem(LOCAL_STORAGE_PIXELS)) {
            this.pixels = JSON.parse(localStorage.getItem(LOCAL_STORAGE_PIXELS))
        }

        if (typeof this.pixels[this.getCurrentYear()] === 'undefined') {
            this.initNewYear()
        }
    },
    components: { ImportExportDialog, LegendDialog },
    methods: {
        getCurrentYear () {
            return (new Date()).getFullYear()
        },

        savePixels () {
            localStorage.setItem(LOCAL_STORAGE_PIXELS, JSON.stringify(this.pixels))
        },

        initNewYear () {
            this.pixels[this.getCurrentYear()] = []

            let pixels = []
            pixels[this.getCurrentYear()] = []

            const monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            for (let i = 0; i < monthNames.length; i++) {
                let month = { 'monthName': '', 'days': [] }
                month.monthName = monthNames[i]

                for (let j = 1; j <= this.getNumDaysPerMonth(monthNames[i]); j++) {
                    month.days[j] = 0
                }

                pixels[this.getCurrentYear()].push(month)
            }

            this.pixels = pixels
            this.savePixels()
        },

        getNumDaysPerMonth (month) {
            let numDays = this.maxDaysPerMonth

            if (month === 'Feb') {
                numDays = new Date(this.getCurrentYear(), 2, 0).getDate()
            } else if (['Apr', 'Jun', 'Sep', 'Nov'].includes(month)) {
                numDays = 30
            }

            return numDays
        },

        changeColor (e) {
            if (e.target.classList.contains('c-grade--undefined')) {
                return
            }

            const currentColor = e.target.dataset.value
            let newColor = currentColor

            if (parseInt(currentColor) === 6) {
                newColor = this.defaultColor
            } else {
                newColor++
            }

            e.target.dataset.value = newColor
            e.target.classList.remove(`c-grade--${currentColor}`)
            e.target.classList.add(`c-grade--${newColor}`)

            this.updateDay(e)
        },

        updateDay (element) {
            let target = element.target
            const month = target.dataset.month
            const dayInMonth = target.dataset.day

            this.pixels[this.getCurrentYear()][month].days[dayInMonth] = target.dataset.value

            this.savePixels()
        },

        getExportCode () {
            const pixels = this.pixels[this.getCurrentYear()]
            let exportCode = ''

            if (typeof pixels === 'undefined') {
                return exportCode
            }

            for (let i = 0; i < pixels.length; i++) {
                const days = pixels[i].days
                for (let j = 1; j < days.length; j++) {
                    exportCode += days[j]
                }
            }

            return exportCode
        },

        importPixels (importCode) {
            const thisYearsPixels = this.pixels[this.getCurrentYear()]
            let importCounter = 0

            for (let i = 0; i < thisYearsPixels.length; i++) {
                for (let j = 1; j < thisYearsPixels[i].days.length; j++) {
                    thisYearsPixels[i].days[j] = importCode[importCounter]
                    importCounter++
                }
            }

            this.pixels[this.getCurrentYear()] = thisYearsPixels
            this.savePixels()
        },
    },
}
</script>

<style lang="scss">
$baseSize: 12px;
$borderColor: #ccc;

$gradeBackgroundColorDefault: #fff;
$gradeBackgroundColorDisabled: #ccc;
$gradeBackgroundColor1: #4a9f4f;
$gradeBackgroundColor2: #5af563;
$gradeBackgroundColor3: #eae511;
$gradeBackgroundColor4: #e1a228;
$gradeBackgroundColor5: #d47e7b;
$gradeBackgroundColor6: #ac4b47;

body {
    margin-left: 0;
}

.application {
    padding-top: $baseSize;
}

.action {
    color: #1976d2;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.c-table-view {
    width: 100%;
    max-width: 500px;
    table-layout: fixed;
    margin: 0 auto $baseSize*4;

    td {
        height: $baseSize;
    }

    th {
        @media (max-width: 650px) {
            font-size: $baseSize;
        }
    }

    &__grade {
        display: block;
        height: 100%;
        width: 100%;
        background-color: $gradeBackgroundColorDefault;
        cursor: pointer;
        border: 1px solid $borderColor;
    }

    &__grade.c-grade--undefined { background-color: transparent; border: none; cursor: default; }

    &__grade--1 { background-color: $gradeBackgroundColor1; }
    &__grade--2 { background-color: $gradeBackgroundColor2; }
    &__grade--3 { background-color: $gradeBackgroundColor3; }
    &__grade--4 { background-color: $gradeBackgroundColor4; }
    &__grade--5 { background-color: $gradeBackgroundColor5; }
    &__grade--6 { background-color: $gradeBackgroundColor6; }
}

.c-grade {
    height: $baseSize*3;
    width: $baseSize*3;
    display: inline-block;
    color: #fff;
    font-size: $baseSize*2;
    line-height: $baseSize*3;
    text-align: center;
    margin-right: $baseSize;

    &--1 { background-color: $gradeBackgroundColor1; }
    &--2 { background-color: $gradeBackgroundColor2; }
    &--3 { background-color: $gradeBackgroundColor3; }
    &--4 { background-color: $gradeBackgroundColor4; }
    &--5 { background-color: $gradeBackgroundColor5; }
    &--6 { background-color: $gradeBackgroundColor6; }
}

.c-grade__description {
    position: relative;
    top: -$baseSize/4;
}
</style>
