<template>
    <v-app>
        <router-view/>

        <cookie-law theme="blood-orange">
            <div slot="message">
                This website uses cookies to ensure you get the best experience on this website.
                For more info <a href="https://nick-hat-boecker.de/datenschutzerklaerung/" target="_blank" rel="noopener" style="color: #e1a228">click here</a>.
            </div>
        </cookie-law>
    </v-app>
</template>

<script>
import CookieLaw from 'vue-cookie-law'

export default {
    name: 'App',
    data () {
        return {
        }
    },
    components: { CookieLaw },
}
</script>

<style>
.Cookie__button {
    background-color: #e1a228 !important;
}
</style>
