<template>
    <v-dialog v-model="show" width="500">
        <v-card>
            <v-card-text>
                <h2>Export</h2>
                <p>Copy the following text and save it to your computer. You can import it later on another device.</p>

                <v-textarea
                    box
                    name="export-code"
                    label="Export code"
                    :value="exportCode"
                    v-model="exportCode"
                    readonly
                ></v-textarea>

                <h2>Import</h2>
                <p>Paste the exported code into this textarea in order to import your data.</p>

                <v-textarea
                    box
                    name="import-code"
                    label="Import code"
                    v-model="importCode"
                ></v-textarea>

                <v-btn
                    color="primary"
                    block
                    @click="importPixels"
                    :disabled="disableImportButton"
                >
                    Import
                </v-btn>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    flat
                    @click="show = false"
                >
                    Cancel
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    name: 'ImportExportDialog',
    data () {
        return {
            importCode: '',
        }
    },
    props: {
        exportCode: {
            type: String,
            required: true,
        },
        showDialog: {
            required: true,
        },
    },
    computed: {
        disableImportButton: function () {
            return !this.importCode.length || this.importCode.length < 365
        },
        show: {
            get: function () {
                return this.showDialog
            },
            set: function (show) {
                if (!show) {
                    this.$emit('close')
                }
            },
        },
    },
    methods: {
        importPixels () {
            this.$emit('import', this.importCode)
            this.show = false
        },
    },
}
</script>
