<template>
    <v-dialog v-model="show" width="500">
        <v-card>
            <v-card-title class="headline grey lighten-2" primary-title>
                Help
            </v-card-title>

            <v-card-text>
                <p>The Year in Pixels chart was created by Camille or <a href="https://www.instagram.com/passioncarnets/">@passioncarnets</a> on Instagram. It's a very simple concept. You just need twelve columns for each month of the year. Add 31 rows per month and that's it. There are 365 squares, or pixels, overall to track your year.</p>

                <p>Click on a pixel to change color. See color legend below.</p>

                <p>
                    <span class="c-grade c-grade--1">A</span>
                    <span class="c-grade__description">Super good day</span>
                </p>
                <p>
                    <span class="c-grade c-grade--2">B</span>
                    <span class="c-grade__description">Good day</span>
                </p>
                <p>
                    <span class="c-grade c-grade--3">C</span>
                    <span class="c-grade__description">Normal day</span>
                </p>
                <p>
                    <span class="c-grade c-grade--4">D</span>
                    <span class="c-grade__description">Okay day</span>
                </p>
                <p>
                    <span class="c-grade c-grade--5">E</span>
                    <span class="c-grade__description">Bad day</span>
                </p>
                <p>
                    <span class="c-grade c-grade--6">F</span>
                    <span class="c-grade__description">Super bad day</span>
                </p>

                <p>All data is saved in your locale browser storage. So if you delete your personal browser data, your chart is lost.<br><br>Want to take this chart wherever you go? Then put it on your home screen. You can find a tutorial for all kinds of devices <a href="https://www.howtogeek.com/196087/how-to-add-websites-to-the-home-screen-on-any-smartphone-or-tablet/">here</a>.</p>
                <p><a href="https://www.freepik.com/free-photos-vectors/calendar">Calendar vector created by Rawpixel.com - Freepik.com</a></p>
            </v-card-text>
            <v-divider></v-divider>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    flat
                    @click="show = false"
                >
                    Got it
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    name: 'LegendDialog',
    props: {
        showDialog: {
            required: true,
        },
    },
    computed: {
        show: {
            get: function () {
                return this.showDialog
            },
            set: function (show) {
                if (!show) {
                    this.$emit('close')
                }
            },
        },
    },
}
</script>
